.about {
  min-height: 100vh;
  position: relative;
  padding-bottom: 10%;
}

.line-styling {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line-styling .style-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.line-styling .style-line {
  width: 95%;
  height: 5px;
  border-radius: 10px;
}

.about-body {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.about-description {
  flex: 0.6;
  padding: 20px;
  text-align: center;
}

.about-description > h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: var(--primaryFont);
}

.about-description > p {
  font-size: 1rem;
  color: #e0d9d9;
  font-family: var(--primaryFont);
}

.about-img {
  margin-top: 40px;
  pointer-events: none;
  width: auto;
}

.about-img > img {
  width: 200px;
}

.container {
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-gap: 50px;
  position: relative;
}

.item {
  border-radius: 15px;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--primaryFont);
  font-weight: bold;
  letter-spacing: 0.1rem;
  transition: transform 300ms ease-in-out;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: auto;

  &--1 {
      background-image: url('../../assets/png/links/Figma.jpg');
  }

  &--1:hover {
      transform: scale(1.05);
  }

  &--2 {
      background-image: url('../../assets/png/links/Presentation.png');
      color: #000;
  }

  &--2:hover {
      transform: scale(1.05);
  }

  &--3 {
      background-color: blueviolet;
  }
}

@media (max-width: 600px) {
  .line-styling .style-circle {
      width: 5px;
      height: 5px;
      border-radius: 50%;
  }

  .line-styling .style-line {
      width: 93%;
      height: 3px;
      border-radius: 10px;
  }

  .about-description > h2 {
      font-size: 2rem;
  }

  .about-description > p {
      font-size: 0.85rem;
  }

  .about-img > img {
      width: 150px;
  }
}
