@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200&display=swap");
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


/** Image Slider CSS*/

/* Replace #fc4958 with color: #029D71; */

.slider {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

.header{
  padding-top: 10vw;
  padding-bottom: 3vw;
  font-size: 3vw;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: green;
  font-style: italic; 

}

@media screen and (max-width: 425px){
  .header{
    font-size: 1.5rem;
  }
}

#slide-element{
  width: 45vw;
  border-radius: 3rem;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}


.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
